In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [13]:
# import
df = pd.read_csv('dataset/World_Population.csv')

# print first 10 samples
df

/tmp/ipykernel_5418/2286089916.py:2: DtypeWarning: Columns (2,3,4,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('dataset/World_Population.csv')

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,...,Q0060Male,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR
0,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,654.5798,631.8067,297.6529,298.4483,297.2079,443.3215,457.3384,427.3167,201.196,2.907
1,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,642.5944,619.1788,292.4375,293.1236,292.0887,436.9979,451.4368,420.7398,195.070,2.760
2,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,630.8166,607.6061,286.6916,287.3395,286.3341,429.8298,444.5151,413.5565,182.671,2.529
3,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,619.9937,596.2667,281.4671,282.0251,281.1446,423.2008,438.1189,406.9265,164.189,2.222
4,NaN,5507,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ADB region: Central and West Asia,...,610.3878,586.3428,276.8312,277.5799,276.2557,417.3453,432.7454,400.7629,163.064,2.157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84355,326.0,876,2.0,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,...,29.4343,35.8025,9.6232,8.1477,11.1791,26.9260,25.8335,28.0762,-0.001,-0.126
84356,326.0,876,2.0,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,...,29.0008,35.3848,9.4943,8.0242,11.0440,26.5634,25.4456,27.7401,-0.001,-0.103
84357,326.0,876,2.0,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,...,28.5670,34.9669,9.3653,7.9008,10.9090,26.2007,25.0576,27.4040,-0.001,-0.109
84358,326.0,876,2.0,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,...,28.3501,34.5488,9.2681,7.8390,10.7740,25.9376,24.8635,27.0678,-0.001,-0.168
84359,326.0,876,2.0,WLF,WF,876.0,4.0,Country/Area,957.0,Wallis and Futuna Islands,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'TPopulation1Jan', 'TPopulation1July', 'TPopulationMale1July',
       'TPopulationFemale1July', 'PopDensity', 'PopSexRatio', 'MedianAgePop',
       'NatChange', 'NatChangeRT', 'PopChange', 'PopGrowthRate',
       'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR', 'NRR', 'MAC',
       'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR', 'LEx', 'LExMale',
       'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65', 'LE65Male',
       'LE65Female', 'LE80', 'LE80Male', 'LE80Female', 'InfantDeaths', 'IMR',
       'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040', 'Q0040Male',
       'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female', 'Q1550',
       'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male', 'Q1560Female',
       'NetMigrations', 'CNMR'],
      dtype='object')

In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Select relevant columns
data = df[['Time', 'TPopulation1July']]

# Drop rows with missing values
data = data.dropna()
data.head()

   Time  TPopulation1July
0  1950         69213.424
1  1951         70682.760
2  1952         72238.716
3  1953         73876.364
4  1954         75600.454

In [ ]:

# Check the data
print(data.head())

# Prepare the independent (X) and dependent (y) variables
X = data['Time'].values.reshape(-1, 1)  # Year
y = data['TPopulation1July'].values    # Population

# Fit the linear regression model
model = LinearRegression()
model.fit(X, y)

# Make predictions
y_pred = model.predict(X)

# Evaluate the model
mse = mean_squared_error(y, y_pred)
print(f"Mean Squared Error: {mse}")
print(f"Slope (m): {model.coef_[0]}")
print(f"Intercept (b): {model.intercept_}")

# Plot the data and regression line
plt.scatter(X, y, color='blue', label='Actual data')
plt.plot(X, y_pred, color='red', label='Regression line')
plt.xlabel('Year')
plt.ylabel('Population')
plt.title('Population Growth Prediction')
plt.legend()
plt.show()